<template>
    <div class="<%= data.name %>">
        <h2><%= data.name %></h2>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: '<%= data.name %>',
    setup() {
        return {};
    }
});
</script>

<style scoped></style>